<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
  <link class="theme" rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-green.css">
  <link rel='icon' href='/static/favicon.ico' type='image/x-icon'/ >
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript">
    function loadref(time)
    {
    setTimeout("location.reload(true) ;",time) ;
    }
    function toggleMoney() {
      $('.money').each(function() {
        var $$ = $(this), t = $$.text();
        $$.text($$.data('t') || t.replace(/./g, '****').slice(0, 6)).data('t', t);
      });
      $('#balanceshowhide').text($('.money').text().match(/\d/) ? 'Hide Balance' : 'Show Balance');
    }
    Chart.defaults.global.legend.position = 'bottom';
    Chart.defaults.global.layout.padding.top = 16;
  </script>
  <title>Crypto Tracker</title>
</head>

<body onload="Javascript:loadref(30000)" class="w3-dark-gray">
  <div class="w3-row-padding">
    <div class="w3-twothird">
      <h1 class="w3-text-theme w3-wide">Crypto Tracker</h1>
    </div>
    <div class="w3-third w3-right-align">
      <div><button id="balanceshowhide" class="w3-text-theme w3-wide w3-button w3-round-large w3-wide" type="button" onclick="toggleMoney()">Hide Balance</button></div>
      <div><a href="https://github.com/AtsutaneDotNet/Crypto-Tracker" target="_blank"><button class="w3-text-theme w3-wide w3-button w3-round-large w3-wide" type="button">Visit Github</button></a></div>
    </div>
  </div>
  <div class="w3-row">
    <div class="w3-card-4 w3-col s11 m5 l3 w3-margin {{panel1}}">
      <header class="w3-container w3-theme w3-center">
        <h1 class="w3-wide">{{nickname1}}</h1>
      </header>
      <div class="w3-container w3-white" name="chart">
        <canvas id="chart"></canvas>
        <script>
            var lineChartData = {
              labels : [
                {% for item in labels1 %}
                  "{{ item }}",
                {% endfor %}
              ],
              datasets: [{
                type: 'line',
                label: 'Cummulative PNL',
                borderColor: 'rgb(0, 128, 128)',
                backgroundColor: 'rgb(0, 128, 128)',
                fill: false,
                data : [
                  {% for item in values1 %}
                    {{ item }},
                  {% endfor %}
                ],
                yAxisID: 'y-axis-1',
                hidden: true,
              },{
                type: 'line',
                label: 'Cummulative PNL %',
                borderColor: 'rgb(0, 255, 0)',
                backgroundColor: 'rgb(0, 255, 0)',
                fill: false,
                data : [
                  {% for item in values1a %}
                    {{ item }},
                  {% endfor %}
                ],
                yAxisID: 'y-axis-2',
              },{
                type: 'bar',
                label: 'Daily PNL',
                borderColor: 'rgb(144, 238, 144)',
                backgroundColor: 'rgb(144, 238, 144)',
                fill: false,
                data : [
                  {% for item in values1b %}
                    {{ item }},
                  {% endfor %}
                ],
                hidden: true,
              }]
            };
            var ctx = document.getElementById('chart').getContext('2d');
            window.myLine = Chart.Line(ctx, {
              type: 'bar',
              data: lineChartData,
              options: {
                responsive: true,
                hoverMode: 'index',
                stacked: false,
                tooltips: {
					        mode: 'index'
				        },
                scales: {
                  yAxes: [{
                    type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                    display: 'auto',
                    position: 'left',
                    scaleLabel: {
                      display: true,
                      labelString: "USDT",
                    },
                    id: 'y-axis-1',
                  },{
                    type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                    display: 'auto',
                    position: 'right',
                    scaleLabel: {
                      display: true,
                      labelString: "%",
                    },
                    id: 'y-axis-2',
                  }],
                }
              }
            });
        </script>
      </div>
      <footer class="w3-container w3-theme w3-wide">
        <h5 class="w3-center">Account Analysis</h5>
        <div class="w3-twothird">Start Balance</div>
        <div class="money w3-third w3-right-align">${{start}}</div>
        <div class="w3-twothird">Current Balance</div>
        <div class="money w3-third w3-right-align">${{today}}</div>
        <div class="w3-twothird">Today Profit</div>
        <div class="money w3-third w3-right-align">${{pnl}}</div>
        <div class="w3-twothird">Today Profit %</div>
        <div class="w3-third w3-right-align">{{daily}}%</div>
        <div class="w3-twothird">Average Profit</div>
        <div class="money w3-third w3-right-align">${{avgpnl}}</div>
        <div class="w3-twothird">Average Profit %</div>
        <div class="w3-third w3-right-align">{{avgpct}}%</div>
        <div class="w3-twothird">Total Profit</div>
        <div class="money w3-third w3-right-align">${{allpnl}}</div>
        <div class="w3-twothird">Total Profit %</div>
        <div class="w3-third w3-right-align">{{allpct}}%</div>
        <div>&nbsp;</div>
      </footer>
    </div>

    <div class="w3-card-4 w3-col s11 m5 l3 w3-margin {{panel2}}">
      <header class="w3-container w3-theme w3-center">
        <h1 class="w3-wide">{{nickname2}}</h1>
      </header>
      <div class="w3-container w3-white" name="chart">
        <canvas id="chart2"></canvas>
        <script>
            var lineChartData = {
              labels : [
                {% for item in labels2 %}
                  "{{ item }}",
                {% endfor %}
              ],
              datasets: [{
                type: 'line',
                label: 'Cummulative PNL',
                borderColor: 'rgb(0, 128, 128)',
                backgroundColor: 'rgb(0, 128, 128)',
                fill: false,
                data : [
                  {% for item in values2 %}
                    {{ item }},
                  {% endfor %}
                ],
                yAxisID: 'y-axis-1',
                hidden: true,
              },{
                type: 'line',
                label: 'Cummulative PNL %',
                borderColor: 'rgb(0, 255, 0)',
                backgroundColor: 'rgb(0, 255, 0)',
                fill: false,
                data : [
                  {% for item in values2a %}
                    {{ item }},
                  {% endfor %}
                ],
                yAxisID: 'y-axis-2',
              },{
                type: 'bar',
                label: 'Daily PNL',
                borderColor: 'rgb(144, 238, 144)',
                backgroundColor: 'rgb(144, 238, 144)',
                fill: false,
                data : [
                  {% for item in values2b %}
                    {{ item }},
                  {% endfor %}
                ],
                hidden: true,
              }]
            };
            var ctx = document.getElementById('chart2').getContext('2d');
            window.myLine = Chart.Line(ctx, {
              type: 'bar',
              data: lineChartData,
              options: {
                responsive: true,
                hoverMode: 'index',
                stacked: false,
                tooltips: {
					        mode: 'index'
				        },
                scales: {
                  yAxes: [{
                    type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                    display: 'auto',
                    position: 'left',
                    scaleLabel: {
                      display: true,
                      labelString: "USDT",
                    },
                    id: 'y-axis-1',
                  },{
                    type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                    display: 'auto',
                    position: 'right',
                    scaleLabel: {
                      display: true,
                      labelString: "%",
                    },
                    id: 'y-axis-2',
                  }],
                }
              }
            });
        </script>
      </div>
      <footer class="w3-container w3-theme w3-wide">
        <h5 class="w3-center">Account Analysis</h5>
        <div class="w3-twothird">Start Balance</div>
        <div class="money w3-third w3-right-align">${{start2}}</div>
        <div class="w3-twothird">Current Balance</div>
        <div class="money w3-third w3-right-align">${{today2}}</div>
        <div class="w3-twothird">Today Profit</div>
        <div class="money w3-third w3-right-align">${{pnl2}}</div>
        <div class="w3-twothird">Today Profit %</div>
        <div class="w3-third w3-right-align">{{daily2}}%</div>
        <div class="w3-twothird">Average Profit</div>
        <div class="money w3-third w3-right-align">${{avgpnl2}}</div>
        <div class="w3-twothird">Average Profit %</div>
        <div class="w3-third w3-right-align">{{avgpct2}}%</div>
        <div class="w3-twothird">Total Profit</div>
        <div class="money w3-third w3-right-align">${{allpnl2}}</div>
        <div class="w3-twothird">Total Profit %</div>
        <div class="w3-third w3-right-align">{{allpct2}}%</div>
        <div>&nbsp;</div>
      </footer>
    </div>

    <div class="w3-card-4 w3-col s11 m5 l3 w3-margin {{panel3}}">
      <header class="w3-container w3-theme w3-center">
        <h1 class="w3-wide">{{nickname3}}</h1>
      </header>
      <div class="w3-container w3-white" name="chart">
        <canvas id="chart3"></canvas>
        <script>
            var lineChartData = {
              labels : [
                {% for item in labels3 %}
                  "{{ item }}",
                {% endfor %}
              ],
              datasets: [{
                type: 'line',
                label: 'Cummulative PNL',
                borderColor: 'rgb(0, 128, 128)',
                backgroundColor: 'rgb(0, 128, 128)',
                fill: false,
                data : [
                  {% for item in values3 %}
                    {{ item }},
                  {% endfor %}
                ],
                yAxisID: 'y-axis-1',
                hidden: true,
              },{
                type: 'line',
                label: 'Cummulative PNL %',
                borderColor: 'rgb(0, 255, 0)',
                backgroundColor: 'rgb(0, 255, 0)',
                fill: false,
                data : [
                  {% for item in values3a %}
                    {{ item }},
                  {% endfor %}
                ],
                yAxisID: 'y-axis-2',
              },{
                type: 'bar',
                label: 'Daily PNL',
                borderColor: 'rgb(144, 238, 144)',
                backgroundColor: 'rgb(144, 238, 144)',
                fill: false,
                data : [
                  {% for item in values3b %}
                    {{ item }},
                  {% endfor %}
                ],
                hidden: true,
              }]
            };
            var ctx = document.getElementById('chart3').getContext('2d');
            window.myLine = Chart.Line(ctx, {
              type: 'bar',
              data: lineChartData,
              options: {
                responsive: true,
                hoverMode: 'index',
                stacked: false,
                tooltips: {
					        mode: 'index'
				        },
                scales: {
                  yAxes: [{
                    type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                    display: 'auto',
                    position: 'left',
                    scaleLabel: {
                      display: true,
                      labelString: "USDT",
                    },
                    id: 'y-axis-1',
                  },{
                    type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                    display: 'auto',
                    position: 'right',
                    scaleLabel: {
                      display: true,
                      labelString: "%",
                    },
                    id: 'y-axis-2',
                  }],
                }
              }
            });
        </script>
      </div>
      <footer class="w3-container w3-theme w3-wide">
        <h5 class="w3-center">Account Analysis</h5>
        <div class="w3-twothird">Start Balance</div>
        <div class="money w3-third w3-right-align">${{start3}}</div>
        <div class="w3-twothird">Current Balance</div>
        <div class="money w3-third w3-right-align">${{today3}}</div>
        <div class="w3-twothird">Today Profit</div>
        <div class="money w3-third w3-right-align">${{pnl3}}</div>
        <div class="w3-twothird">Today Profit %</div>
        <div class="w3-third w3-right-align">{{daily3}}%</div>
        <div class="w3-twothird">Average Profit</div>
        <div class="money w3-third w3-right-align">${{avgpnl3}}</div>
        <div class="w3-twothird">Average Profit %</div>
        <div class="w3-third w3-right-align">{{avgpct3}}%</div>
        <div class="w3-twothird">Total Profit</div>
        <div class="money w3-third w3-right-align">${{allpnl3}}</div>
        <div class="w3-twothird">Total Profit %</div>
        <div class="w3-third w3-right-align">{{allpct3}}%</div>
        <div>&nbsp;</div>
      </footer>
    </div>

    <div class="w3-card-4 w3-col s11 m5 l3 w3-margin {{panel4}}">
      <header class="w3-container w3-theme w3-center">
        <h1 class="w3-wide">{{nickname4}}</h1>
      </header>
      <div class="w3-container w3-white" name="chart">
        <canvas id="chart4"></canvas>
        <script>
            var lineChartData = {
              labels : [
                {% for item in labels4 %}
                  "{{ item }}",
                {% endfor %}
              ],
              datasets: [{
                type: 'line',
                label: 'Cummulative PNL',
                borderColor: 'rgb(0, 128, 128)',
                backgroundColor: 'rgb(0, 128, 128)',
                fill: false,
                data : [
                  {% for item in values4 %}
                    {{ item }},
                  {% endfor %}
                ],
                yAxisID: 'y-axis-1',
                hidden: true,
              },{
                type: 'line',
                label: 'Cummulative PNL %',
                borderColor: 'rgb(0, 255, 0)',
                backgroundColor: 'rgb(0, 255, 0)',
                fill: false,
                data : [
                  {% for item in values4a %}
                    {{ item }},
                  {% endfor %}
                ],
                yAxisID: 'y-axis-2',
              },{
                type: 'bar',
                label: 'Daily PNL',
                borderColor: 'rgb(144, 238, 144)',
                backgroundColor: 'rgb(144, 238, 144)',
                fill: false,
                data : [
                  {% for item in values4b %}
                    {{ item }},
                  {% endfor %}
                ],
                hidden: true,
              }]
            };
            var ctx = document.getElementById('chart4').getContext('2d');
            window.myLine = Chart.Line(ctx, {
              type: 'bar',
              data: lineChartData,
              options: {
                responsive: true,
                hoverMode: 'index',
                stacked: false,
                tooltips: {
					        mode: 'index'
				        },
                scales: {
                  yAxes: [{
                    type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                    display: 'auto',
                    position: 'left',
                    scaleLabel: {
                      display: true,
                      labelString: "USDT",
                    },
                    id: 'y-axis-1',
                  },{
                    type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                    display: 'auto',
                    position: 'right',
                    scaleLabel: {
                      display: true,
                      labelString: "%",
                    },
                    id: 'y-axis-2',
                  }],
                }
              }
            });
        </script>
      </div>
      <footer class="w3-container w3-theme w3-wide">
        <h5 class="w3-center">Account Analysis</h5>
        <div class="w3-twothird">Start Balance</div>
        <div class="money w3-third w3-right-align">${{start4}}</div>
        <div class="w3-twothird">Current Balance</div>
        <div class="money w3-third w3-right-align">${{today4}}</div>
        <div class="w3-twothird">Today Profit</div>
        <div class="money w3-third w3-right-align">${{pnl4}}</div>
        <div class="w3-twothird">Today Profit %</div>
        <div class="w3-third w3-right-align">{{daily4}}%</div>
        <div class="w3-twothird">Average Profit</div>
        <div class="money w3-third w3-right-align">${{avgpnl4}}</div>
        <div class="w3-twothird">Average Profit %</div>
        <div class="w3-third w3-right-align">{{avgpct4}}%</div>
        <div class="w3-twothird">Total Profit</div>
        <div class="money w3-third w3-right-align">${{allpnl4}}</div>
        <div class="w3-twothird">Total Profit %</div>
        <div class="w3-third w3-right-align">{{allpct4}}%</div>
        <div>&nbsp;</div>
      </footer>
    </div>

    <div class="w3-card-4 w3-col s11 m5 l3 w3-margin {{panel5}}">
      <header class="w3-container w3-theme w3-center">
        <h1 class="w3-wide">{{nickname5}}</h1>
      </header>
      <div class="w3-container w3-white" name="chart">
        <canvas id="chart5"></canvas>
        <script>
            var lineChartData = {
              labels : [
                {% for item in labels5 %}
                  "{{ item }}",
                {% endfor %}
              ],
              datasets: [{
                type: 'line',
                label: 'Cummulative PNL',
                borderColor: 'rgb(0, 128, 128)',
                backgroundColor: 'rgb(0, 128, 128)',
                fill: false,
                data : [
                  {% for item in values5 %}
                    {{ item }},
                  {% endfor %}
                ],
                yAxisID: 'y-axis-1',
                hidden: true,
              },{
                type: 'line',
                label: 'Cummulative PNL %',
                borderColor: 'rgb(0, 255, 0)',
                backgroundColor: 'rgb(0, 255, 0)',
                fill: false,
                data : [
                  {% for item in values5a %}
                    {{ item }},
                  {% endfor %}
                ],
                yAxisID: 'y-axis-2',
              },{
                type: 'bar',
                label: 'Daily PNL',
                borderColor: 'rgb(144, 238, 144)',
                backgroundColor: 'rgb(144, 238, 144)',
                fill: false,
                data : [
                  {% for item in values5b %}
                    {{ item }},
                  {% endfor %}
                ],
                hidden: true,
              }]
            };
            var ctx = document.getElementById('chart5').getContext('2d');
            window.myLine = Chart.Line(ctx, {
              type: 'bar',
              data: lineChartData,
              options: {
                responsive: true,
                hoverMode: 'index',
                stacked: false,
                tooltips: {
					        mode: 'index'
				        },
                scales: {
                  yAxes: [{
                    type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                    display: 'auto',
                    position: 'left',
                    scaleLabel: {
                      display: true,
                      labelString: "USDT",
                    },
                    id: 'y-axis-1',
                  },{
                    type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                    display: 'auto',
                    position: 'right',
                    scaleLabel: {
                      display: true,
                      labelString: "%",
                    },
                    id: 'y-axis-2',
                  }],
                }
              }
            });
        </script>
      </div>
      <footer class="w3-container w3-theme w3-wide">
        <h5 class="w3-center">Account Analysis</h5>
        <div class="w3-twothird">Start Balance</div>
        <div class="money w3-third w3-right-align">${{start5}}</div>
        <div class="w3-twothird">Current Balance</div>
        <div class="money w3-third w3-right-align">${{today5}}</div>
        <div class="w3-twothird">Today Profit</div>
        <div class="money w3-third w3-right-align">${{pnl5}}</div>
        <div class="w3-twothird">Today Profit %</div>
        <div class="w3-third w3-right-align">{{daily5}}%</div>
        <div class="w3-twothird">Average Profit</div>
        <div class="money w3-third w3-right-align">${{avgpnl5}}</div>
        <div class="w3-twothird">Average Profit %</div>
        <div class="w3-third w3-right-align">{{avgpct5}}%</div>
        <div class="w3-twothird">Total Profit</div>
        <div class="money w3-third w3-right-align">${{allpnl5}}</div>
        <div class="w3-twothird">Total Profit %</div>
        <div class="w3-third w3-right-align">{{allpct5}}%</div>
        <div>&nbsp;</div>
      </footer>
    </div>

    <div class="w3-card-4 w3-col s11 m5 l3 w3-margin {{panel6}}">
      <header class="w3-container w3-theme w3-center">
        <h1 class="w3-wide">{{nickname6}}</h1>
      </header>
      <div class="w3-container w3-white" name="chart">
        <canvas id="chart6"></canvas>
        <script>
            var lineChartData = {
              labels : [
                {% for item in labels6 %}
                  "{{ item }}",
                {% endfor %}
              ],
              datasets: [{
                type: 'line',
                label: 'Cummulative PNL',
                borderColor: 'rgb(0, 128, 128)',
                backgroundColor: 'rgb(0, 128, 128)',
                fill: false,
                data : [
                  {% for item in values6 %}
                    {{ item }},
                  {% endfor %}
                ],
                yAxisID: 'y-axis-1',
                hidden: true,
              },{
                type: 'line',
                label: 'Cummulative PNL %',
                borderColor: 'rgb(0, 255, 0)',
                backgroundColor: 'rgb(0, 255, 0)',
                fill: false,
                data : [
                  {% for item in values6a %}
                    {{ item }},
                  {% endfor %}
                ],
                yAxisID: 'y-axis-2',
              },{
                type: 'bar',
                label: 'Daily PNL',
                borderColor: 'rgb(144, 238, 144)',
                backgroundColor: 'rgb(144, 238, 144)',
                fill: false,
                data : [
                  {% for item in values6b %}
                    {{ item }},
                  {% endfor %}
                ],
                hidden: true,
              }]
            };
            var ctx = document.getElementById('chart6').getContext('2d');
            window.myLine = Chart.Line(ctx, {
              type: 'bar',
              data: lineChartData,
              options: {
                responsive: true,
                hoverMode: 'index',
                stacked: false,
                tooltips: {
					        mode: 'index'
				        },
                scales: {
                  yAxes: [{
                    type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                    display: 'auto',
                    position: 'left',
                    scaleLabel: {
                      display: true,
                      labelString: "USDT",
                    },
                    id: 'y-axis-1',
                  },{
                    type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                    display: 'auto',
                    position: 'right',
                    scaleLabel: {
                      display: true,
                      labelString: "%",
                    },
                    id: 'y-axis-2',
                  }],
                }
              }
            });
        </script>
      </div>
      <footer class="w3-container w3-theme w3-wide">
        <h5 class="w3-center">Account Analysis</h5>
        <div class="w3-twothird">Start Balance</div>
        <div class="money w3-third w3-right-align">${{start6}}</div>
        <div class="w3-twothird">Current Balance</div>
        <div class="money w3-third w3-right-align">${{today6}}</div>
        <div class="w3-twothird">Today Profit</div>
        <div class="money w3-third w3-right-align">${{pnl6}}</div>
        <div class="w3-twothird">Today Profit %</div>
        <div class="w3-third w3-right-align">{{daily6}}%</div>
        <div class="w3-twothird">Average Profit</div>
        <div class="money w3-third w3-right-align">${{avgpnl6}}</div>
        <div class="w3-twothird">Average Profit %</div>
        <div class="w3-third w3-right-align">{{avgpct6}}%</div>
        <div class="w3-twothird">Total Profit</div>
        <div class="money w3-third w3-right-align">${{allpnl6}}</div>
        <div class="w3-twothird">Total Profit %</div>
        <div class="w3-third w3-right-align">{{allpct6}}%</div>
        <div>&nbsp;</div>
      </footer>
    </div>
  </div>
</body>
</html>
